<html>
  <% include ./partials/_header.ejs %>
  <body>
  <p>
  Full URL: <%=longURL%> <br>
  Shortened Form :  <%=shortURL%> <br>
  Link: <a href = <%=longURL%>>tinyapp.com/<%=shortURL%></a>
  </p>

  <form method = "POST" action = "/urls/<%=shortURL%>/update">
  <input type = "text" name="updatedURL"placeholder = "http://">
  <button value="Update"> Update </button>
  </form>

  </body>

</html>